@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
html {
  scroll-behavior: smooth;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Montserrat', sans-serif;
}

.devugo-btn {
  background: #FF6F61;
  color: #fff;
  border-radius: 4px;
  border: 1px solid #FF6F61;
  width: 130px;
  font-size: 14px;
  padding-top: 10px;
  padding-bottom: 10px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.devugo-btn:hover {
  opacity: 0.8;
  color: #3F3D56;
}

.devugo-section {
  margin: 40px 0;
  padding: 20px 0;
}

input, textarea {
  width: 100%;
  border: 1px solid grey;
  margin-bottom: 20px;
  height: 50px;
}

input:hover, input:active, input:focus, textarea:hover, textarea:active, textarea:focus {
  outline: 0px !important;
  -webkit-appearance: none;
  -webkit-box-shadow: none !important;
          box-shadow: none !important;
  border: 1.5px solid #162447;
}

.swal-button {
  background-color: #FF6F61 !important;
  color: white !important;
}

.devugo-slide {
  -webkit-animation-name: devugo-slide;
          animation-name: devugo-slide;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 20s;
          animation-duration: 20s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes devugo-slide {
  0% {
    width: 150px;
  }
  50% {
    width: 207.43px;
  }
  100% {
    width: 150px;
  }
}

@keyframes devugo-slide {
  0% {
    width: 150px;
  }
  50% {
    width: 207.43px;
  }
  100% {
    width: 150px;
  }
}

.devugo-up-down {
  -webkit-animation-name: devugo-up-down;
          animation-name: devugo-up-down;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes devugo-up-down {
  0% {
    height: 140px;
  }
  50% {
    height: 220.41px;
  }
  100% {
    height: 140px;
  }
}

@keyframes devugo-up-down {
  0% {
    height: 140px;
  }
  50% {
    height: 220.41px;
  }
  100% {
    height: 140px;
  }
}

.devugo-up-down-2 {
  -webkit-animation-name: devugo-up-down-2;
          animation-name: devugo-up-down-2;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes devugo-up-down-2 {
  0% {
    height: 150px;
  }
  50% {
    height: 192.57px;
  }
  100% {
    height: 150px;
  }
}

@keyframes devugo-up-down-2 {
  0% {
    height: 150px;
  }
  50% {
    height: 192.57px;
  }
  100% {
    height: 150px;
  }
}

.banner {
  background-image: url("../../public/img/banner-bg.png");
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 650.03px;
  color: white;
  padding-top: 50px;
  padding: 20px;
}

.banner .content h2 {
  font-weight: bold;
  font-size: 34px;
  line-height: 78px;
}

.banner .content p {
  font-weight: 500;
  font-size: 20px;
  line-height: 37px;
}

.banner .content .banner-cloud {
  position: absolute;
}

.banner .content .banner-cloud-1 {
  top: 400px;
  right: 20%;
}

.banner .content .banner-cloud-2 {
  top: 500px;
  right: 30%;
}

.banner .content .banner-cloud-3 {
  top: 300px;
  left: 15%;
}

.banner .content .timer {
  color: #3F3D56;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.banner .content .timer div {
  margin-right: 10px;
}

.banner .content .timer .time {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.banner .content .timer .time::after {
  content: ':';
  position: absolute;
  top: 60px;
  left: 20px;
  color: #3F3D56;
}

.banner .content .timer .time span:first-child {
  font-weight: 600;
  font-size: 35px;
  line-height: 63px;
}

.banner .content .timer .time span:last-child {
  font-size: 16px;
  line-height: 24px;
  margin-top: -10px;
}

.banner .content .timer .time-spacer {
  font-weight: 600;
  font-size: 35px;
  margin-top: 0px;
}

.banner .content .banner-image img {
  width: 320px;
  height: 350px;
  margin-top: 20px;
}

.banner .content .banner-phone {
  position: absolute;
}

.banner .content .banner-phone-1 {
  left: calc(50% - 149.4px);
}

.banner .content .banner-phone-2 {
  left: calc(50% - 130.56px);
  bottom: -30px;
  width: 261.13px;
}

.banner .content .banner-phone-3 {
  left: calc(50% - 130.56px);
  bottom: -30px;
  width: 261.13px;
}

.banner .content .banner-phone-4 {
  left: calc(50% - 103.71px);
  bottom: -63px;
  height: 60.73px;
}

.banner .content .banner-woman {
  position: absolute;
  left: 23%;
  bottom: -230px;
}

.banner .content .banner-shadow {
  position: absolute;
  bottom: -240px;
  left: 20%;
  width: 340px;
}

.banner .content .banner-shrub-left {
  position: absolute;
  left: 24%;
  bottom: -220px;
}

.banner .content .banner-shrub-right {
  position: absolute;
  right: 24%;
  bottom: -220px;
}

@media screen and (min-width: 768px) {
  .banner .content h2 {
    font-size: 64px;
  }
  .banner .content p {
    font-size: 30px;
  }
  .banner .content .timer {
    color: #3F3D56;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .banner .content .timer div {
    margin-right: 20px;
  }
  .banner .content .timer .time span:first-child {
    font-size: 48px;
  }
  .banner .content .timer .time span:last-child {
    font-size: 20px;
  }
  .banner .content .timer .time-spacer {
    font-size: 48px;
    margin-top: -10px;
  }
  .banner .content .banner-shadow {
    width: 700px;
  }
  .banner .content .banner-image img {
    width: 600px;
    height: 450px;
  }
}

@media screen and (min-width: 992px) {
  .banner .content .banner-shadow {
    width: 900px;
  }
  .banner .content .banner-image img {
    width: 700px;
    height: 450px;
  }
}

.subscribe-action {
  margin-top: 70px;
}

.subscribe-action .container .content .form .form-element {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.subscribe-action .container .content .form .form-element input {
  width: 100%;
  border: 1px solid #3F3D56;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  height: 74px;
  margin-right: 20px;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.subscribe-action .container .content .form .form-element input:hover, .subscribe-action .container .content .form .form-element input:focus {
  border: 2px solid #3F3D56;
}

.subscribe-action .container .content .form .form-element button {
  background: #FF6F61;
  border: 1px solid #3F3D56;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 20px;
  font-size: 20px;
  height: 74px;
  color: white;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.subscribe-action .container .content .form .form-element button:hover {
  background: #ff6253;
}

.subscribe-action .container .content .mobile-stores {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 30px;
}

.subscribe-action .container .content .mobile-stores .mobile-store {
  width: 150px;
  height: 60px;
  border-radius: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-size: 15px;
  padding: 5px 10px;
  margin-right: 10px;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  cursor: default;
  -webkit-box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
          box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

.subscribe-action .container .content .mobile-stores .mobile-store img {
  margin-right: 10px;
  width: 40px;
  height: 40px;
}

.subscribe-action .container .content .mobile-stores .mobile-store p {
  margin-top: 15px;
}

.subscribe-action .container .content .mobile-stores .mobile-store.appstore {
  background-color: #3F3D56;
  color: white;
}

.subscribe-action .container .content .mobile-stores .mobile-store.playstore {
  color: black;
}

.subscribe-action .container .content .mobile-stores .mobile-store:hover {
  border: 0;
  -webkit-box-shadow: 0 4px 10px rgba(0, 0, 0, 0.26);
          box-shadow: 0 4px 10px rgba(0, 0, 0, 0.26);
}

@media screen and (min-width: 768px) {
  .subscribe-action {
    margin-top: 130px;
  }
  .subscribe-action .container .content .form .form-element {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscribe-action .container .content .form .form-element input {
    width: 55%;
    height: 74px;
  }
  .subscribe-action .container .content .form .form-element button {
    width: 25%;
    height: 74px;
  }
  .subscribe-action .container .content .mobile-stores {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .subscribe-action .container .content .mobile-stores .mobile-store {
    width: 202px;
    height: 74px;
    border-radius: 20px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    font-size: 20px;
    line-height: 24px;
    padding: 10px 20px;
    margin-right: 10px;
  }
  .subscribe-action .container .content .mobile-stores .mobile-store img {
    margin-right: 10px;
  }
  .subscribe-action .container .content .mobile-stores .mobile-store.appstore {
    background-color: #3F3D56;
    color: white;
  }
  .subscribe-action .container .content .mobile-stores .mobile-store.playstore {
    color: black;
  }
}

.basket-ball {
  -webkit-animation-name: basket-ball;
          animation-name: basket-ball;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes basket-ball {
  0% {
    top: 60px;
    left: 50%;
  }
  100% {
    top: 90px;
    left: calc(50% - 40px);
  }
}

@keyframes basket-ball {
  0% {
    top: 60px;
    left: 50%;
  }
  100% {
    top: 90px;
    left: calc(50% - 40px);
  }
}

.reader {
  -webkit-animation-name: reader;
          animation-name: reader;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 5s;
          animation-duration: 5s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes reader {
  0% {
    width: 35px;
  }
  50% {
    width: 45px;
  }
  100% {
    width: 35px;
  }
}

@keyframes reader {
  0% {
    width: 35px;
  }
  50% {
    width: 45px;
  }
  100% {
    width: 35px;
  }
}

.jogging-wave-1 {
  -webkit-animation-name: jogging-wave-1;
          animation-name: jogging-wave-1;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 6s;
          animation-duration: 6s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes jogging-wave-1 {
  0% {
    height: 55px;
  }
  50% {
    height: 78px;
  }
  100% {
    height: 55px;
  }
}

@keyframes jogging-wave-1 {
  0% {
    height: 55px;
  }
  50% {
    height: 78px;
  }
  100% {
    height: 55px;
  }
}

.jogging-wave-2 {
  -webkit-animation-name: jogging-wave-2;
          animation-name: jogging-wave-2;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 4s;
          animation-duration: 4s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes jogging-wave-2 {
  0% {
    height: 49px;
  }
  50% {
    height: 57px;
  }
  100% {
    height: 49px;
  }
}

@keyframes jogging-wave-2 {
  0% {
    height: 49px;
  }
  50% {
    height: 57px;
  }
  100% {
    height: 49px;
  }
}

.football {
  -webkit-animation-name: football;
          animation-name: football;
  -webkit-animation-timing-function: linear;
          animation-timing-function: linear;
  -webkit-animation-duration: 2s;
          animation-duration: 2s;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
}

@-webkit-keyframes football {
  0% {
    bottom: 130px;
  }
  50% {
    bottom: 94px;
  }
  100% {
    bottom: 130px;
  }
}

@keyframes football {
  0% {
    bottom: 130px;
  }
  50% {
    bottom: 94px;
  }
  100% {
    bottom: 130px;
  }
}

.how-it-works {
  margin-top: 70px;
}

.how-it-works .container .content .section-title h3 {
  font-size: 32px;
  font-weight: 600;
  line-height: 55px;
  color: #3F3D56;
}

.how-it-works .container .content .col-content {
  position: relative;
  height: 300px;
  width: 100%;
  margin-bottom: 20px;
}

.how-it-works .container .content .col-content img {
  position: absolute;
}

.how-it-works .container .content .col-content img:first-child {
  top: 50px;
  left: calc(50% - 100px);
}

.how-it-works .container .content .col-content img:last-child {
  top: 60px;
  left: calc(50%);
}

.how-it-works .container .content .col-content .jogging-wave-1, .how-it-works .container .content .col-content .jogging-wave-2 {
  position: absolute;
  bottom: 42%;
  width: 56px;
  left: calc(50% - 28px);
}

.how-it-works .container .content .col-content .jogging-wave-1 {
  height: 78px;
}

.how-it-works .container .content .col-content .jogging-wave-2 {
  height: 57px;
}

.how-it-works .container .content .col-content .reader {
  background-color: #736E9E;
  height: 20px;
  width: 45px;
  position: absolute;
  top: 55%;
  left: calc(50% - 23px);
}

.how-it-works .container .content .col-content .football {
  bottom: 96px;
  left: calc(50% - 45px);
}

.how-it-works .container .content .col-content p {
  position: absolute;
  bottom: 0px;
  font-size: 20px;
  line-height: 24px;
  left: 33%;
  color: #3F3D56;
}

@media screen and (min-width: 768px) {
  .how-it-works .container .content .section-title h3 {
    font-size: 45px;
  }
}

.app-screens .container .content .col-content {
  background: #3F3D56;
  width: 100%;
  height: 300px;
  margin-bottom: 30px;
}

@media screen and (min-width: 768px) {
  .app-screens .container .content .col-content {
    background: #3F3D56;
    height: 390px;
  }
}
/*# sourceMappingURL=main.css.map */