.basket-ball {
    @include animation-continous;
    animation-name: basket-ball;
    animation-duration: 4s;
}

@keyframes basket-ball {
    0%   { top: 60px; left: 50%; }
    100% { top: 90px; left: calc(50% - 40px); }
}

.reader {
    @include animation-continous;
    animation-name: reader;
    animation-duration: 5s;
}

@keyframes reader {
    0%   { width: 35px; }
    50%  { width: 45px; }
    100% { width: 35px; }
}

.jogging-wave-1 {
    @include animation-continous;
    animation-name: jogging-wave-1;
    animation-duration: 6s;
}

@keyframes jogging-wave-1 {
    0%   { height: 55px; }
    50%  { height: 78px; }
    100% { height: 55px; }
}

.jogging-wave-2 {
    @include animation-continous;
    animation-name: jogging-wave-2;
    animation-duration: 4s;
}

@keyframes jogging-wave-2 {
    0%   { height: 49px; }
    50%  { height: 57px; }
    100% { height: 49px; }
}

.football {
    @include animation-continous;
    animation-name: football;
    animation-duration: 2s;
}

@keyframes football {
    0%   { bottom: 130px; }
    50%  { bottom: 94px; }
    100% { bottom: 130px; }
}

.lawn-tennis-ball {
    @include animation-continous;
    animation-name: lawn-tennis-ball;
    animation-duration: 4s;
}

@keyframes lawn-tennis-ball {
    0%   { width: 3px; }
    50%  { width: 20px; }
    100% { width: 3px; }
}

.realtime__black-pill {
    @include animation-continous;
    animation-name: realtime__black-pill;
    animation-duration: 4s;
}

@keyframes realtime__black-pill {
    0%   { width: 8px; }
    50%  { width: 12.22px; }
    100% { width: 8px; }
}

.realtime__blue-pill {
    @include animation-continous;
    animation-name: realtime__blue-pill;
    animation-duration: 6s;
}

@keyframes realtime__blue-pill {
    0%   { width: 28px; }
    50%  { width: 48px; }
    100% { width: 28px; }
}

.realtime__ash-pill {
    @include animation-continous;
    animation-name: realtime__ash-pill;
    animation-duration: 5s;
}

@keyframes realtime__ash-pill {
    0%   { width: 20px; }
    50%  { width: 48px; }
    100% { width: 20px; }
}

.how-it-works {
    margin-top: 70px;
    .container {
        .content {
            .section-title {
                h3 {
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 55px;
                    color: $text-color;
                }
            }

            .col-content {
                position: relative;
                // background-color: red;
                height: 300px;
                width: 100%;
                margin-bottom: 20px;

                img {
                    position: absolute;

                    &:first-child {
                        top: 50px;
                        left: calc(50% - 100px);
                    }

                    &:last-child {
                        top: 60px;
                        left: calc(50%);
                    }
                }
                .lawn-tennis-ball{
                    position: absolute;
                    top: 140px;
                    left: calc(50% - 15px);
                    width: 3px;
                }

                .jogging-wave-1, .jogging-wave-2{
                    position: absolute;
                    bottom: 42%;
                    width: 56px;
                    left: calc(50% - 28px);
                }
                .jogging-wave-1{
                    height: 78px;
                }
                .jogging-wave-2{
                    height: 57px;
                }
                .reader {
                    background-color: #736E9E;;
                    height: 20px;
                    width: 45px;
                    position: absolute;
                    top: 55%;
                    left: calc(50% - 23px);
                }
                .football {
                    bottom: 96px;
                    left: calc(50% - 45px);
                }
                p{
                    position: absolute;
                    bottom: 0px;
                    font-size: 20px;
                    line-height: 24px;
                    left: 33%;
                    color: $text-color;
                }
                .realtime__black-pill {
                    position: absolute;
                    width: 12.22px;
                    height: 4.97px;
                    background: $text-color;
                    border-radius: 2px;
                    left: calc(50% - 24px);

                    &-1 {
                        top: 75px;
                    }
                    &-2 {
                        top: 105px;
                    }
                    &-3 {
                        top: 133px;
                    }
                }
                .realtime__blue-pill {
                    width: 48px;
                    height: 4.97px;
                    background: $secondary-color;
                    border-radius: 2px;
                    position: absolute;
                    left: calc(50% - 24px);

                    &-1 {
                        top: 85px;
                    }
                    &-2 {
                        top: 115px;
                    }
                }
                .realtime__ash-pill {
                    width: 48px;
                    height: 4.97px;
                    background: #e5e5e5;
                    border-radius: 2px;
                    position: absolute;
                    left: calc(50% - 24px);

                    &-1 {
                        top: 143px;
                    }
                }
            }
        }
    }
}

@include media-md {
    .how-it-works {
        .container {
            .content {
                .section-title {
                    h3 {
                        font-size: 45px;
                    }
                }
            }
        }
    }
}