.subscribe-action {
    margin-top: 70px;

    .container {
        .content {
            .form{
                .form-element {
                    display: flex;
                    flex-direction: column;

                    input {
                        width: 100%;
                        border: 1px solid #3F3D56;
                        box-sizing: border-box;
                        border-radius: 10px;
                        height: 74px;
                        margin-right: 20px;
                        @include transition-ease;

                        &:hover, &:focus {
                            border: 2px solid #3F3D56;
                        }
                    }
                    button {
                        background: $primary-color;
                        border: 1px solid $tertiary-color;
                        box-sizing: border-box;
                        border-radius: 10px;
                        font-size: 20px;
                        height: 74px;
                        color: white;
                        @include transition-ease;


                        &:hover {
                            background: #ff6253;
                        }
                    }
                }
            }
            .mobile-stores {
                display: flex;
                justify-content: center;
                margin-top: 30px;

                .mobile-store {
                    width: 150px;
                    height: 60px;
                    border-radius: 20px;
                    display: flex;
                    font-size: 15px;
                    // line-height: 24px;
                    padding: 5px 10px;
                    margin-right: 10px;
                    align-items: center;
                    cursor: default;
                    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.26);
                    @include transition-ease;

                    img {
                        margin-right: 10px;
                        width: 40px;
                        height: 40px;
                    }
                    p{
                        margin-top: 15px;
                    }

                    &.appstore{
                        background-color: $text-color;
                        color: white;
                        
                    }
                    &.playstore{
                        color: black;
                    }

                    &:hover {
                        border: 0;
                        box-shadow: 0 4px 10px rgba(0, 0, 0, 0.26);
                    }
                }
                
            }
        }
    }
}

@include media-md{
    .subscribe-action {
        margin-top: 130px;
    
        .container {
            .content {
                .form{
                    .form-element {
                        flex-direction: row;
                        justify-content: center;
    
                        input {
                            width: 55%;
                            height: 74px;
                        }
                        button {
                            width: 25%;
                            height: 74px;
                        }
                    }
                }
                .mobile-stores {
                    display: flex;
                    justify-content: center;
    
                    .mobile-store {
                        width: 202px;
                        height: 74px;
                        border-radius: 20px;
                        display: flex;
                        font-size: 20px;
                        line-height: 24px;
                        padding: 10px 20px;
                        &:first-child {
                            margin-right: 100px;
                        }
    
                        img {
                            margin-right: 10px;
                        }
    
                        &.appstore{
                            background-color: $text-color;
                            color: white;
                            
                        }
                        &.playstore{
                            color: black;
                        }
                    }
                    
                }
            }
        }
    }
}